footer{
    background-color: rgb(245 245 245);
    padding: 50px 20px 5px 20px;
    .foot-logo{
        margin-left: 2%;
        img{
            width: auto;
            height: 120px;
            margin-bottom: 25px;
        }
    }
    .info{
        justify-content: space-between;
        padding: 0px 40px;
       .links{
        h6{
            text-decoration: underline;
        }
            ul{
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        transition: all 0.1s ease-in-out;
                        &:hover{
                            text-decoration: underline;
                            color: #ff7f00;
                        }
                        li{
                            list-style: none;
                        }
                }
            }
       }
        .social-desc{
            .social-media{
                ul{
                    padding: 0;
                    gap: 20px;
                    li{
                        list-style: none;
                        transition: all 0.2s ease-in-out;
                        border-radius: 50%;
                        height: 35px;
                        width: 35px;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            color:#10182f ;
                            background-color: #ff7f00;
                        }
                        a{
                            i{
                                font-size: 26px;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
            .payment-methods{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .payment-method-img{
                    width: 350px;
                }
            }
        }
    }
    hr{
        margin: 20px 0px;
        background:  rgb(0, 0, 0);
    }
    .terms-section{
        justify-content: space-between;
        .terms{
            ul{
                padding: 0;
                gap: 20px;
                li{
                    cursor: pointer;
                    list-style: none;
                    transition:all 0.1s ease-in-out;
                    &:hover{
                        color: rgb(163, 171, 196);
                        text-decoration: underline;
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.text-c-white{
color: rgb(0, 0, 0);
}
.fw-800{
    font-weight: 800;
}
.fw-700{
    font-weight: 700;
}
