.Forms{


.login-forms {
  display: flex;
  justify-content: center;
  position: relative;
  height: 785px;
  margin: 100px auto 50px auto;
    .form {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      gap: 10px;
      background-color: #ffffff;
      padding: 30px;
      width: 450px;
      border-radius: 20px;
      z-index: 1;
      position: absolute;
      transition: transform 0.5s ease-in-out;
      opacity: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
  
      &:not(.active) {
        transform: translateX(-100%);
      }
    }
  
    ::placeholder {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .form button {
      align-self: flex-end;
    }
  .flex-column{
    text-align: left;
  }
    .flex-column>label {
      color: #151717;
      font-weight: 600;
    }
  
    .inputForm {
      border: 1.5px solid #ecedec;
      border-radius: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      transition: 0.2s ease-in-out;
    }
  
    .input {
      margin-left: 10px;
      border-radius: 10px;
      border: none;
      width: 85%;
      height: 100%;
    }
  
    .input:focus {
      outline: none;
    }
  
    .inputForm:focus-within {
      border: 1.5px solid #2d79f3;
    }
  
    .flex-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }
  
    .social-row {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: -15px;
      justify-content: center;
  
      a {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
  
        &:hover {
          box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        }
  
        img {
          height: 35px;
          width: 45px;
        }
      }
    }
  
    .flex-row>div>label {
      font-size: 14px;
      color: black;
      font-weight: 400;
    }
  
    .span {
      font-size: 14px;
      margin-left: 5px;
      color: #424f77;
      font-weight: 500;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .button-submit {
      margin: 20px 0 10px 0;
      background-color: #10182f;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 500;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  
    .button-submit:hover {
      background-color: #424f77;
    }
  
    .p {
      text-align: center;
      color: black;
      font-size: 14px;
      margin: 5px 0;
    }
}

}
@media(max-width:425px){
  .Forms .login-forms .form.active {
    width: 395px;
  }
  .blob2 {
    left: 1%;
  }
}
@media(max-width:375px){
  .Forms .login-forms .form.active {
    width: 350px;
  }
}
@media(max-width:375px){
  .Forms .login-forms .form.active {
    width: 300px;
  }
  .Forms .login-forms .span {
    font-size: 12px;
  }
  .Forms .login-forms .flex-row > div > label {
    font-size: 12px;
  }
}